.audience {
  padding: 50px 15px 0 15px;
  width: 320px;
  height: 1808px;
  background-color: #edf8fb;
  color: #2b292d;
  text-align: center;
  @include large-screen {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 1400px;
    height: 953px;
  }
  &__first-title {
    font-size: 22px;
    line-height: 32px;
    @include large-screen {
      margin-top: 108px;
    }
  }
  &__second-title {
    margin-top: 17px;
    font-size: 40px;
    line-height: 40px;
    @include large-screen {
      margin: 24px auto 0 auto;
      width: 555px;
      height: 112px;
      font-size: 56px;
      line-height: 56px;
    }
  }
  &__text {
    margin-top: 18px;
    font-size: 24px;
    line-height: 34px;
    @include large-screen {
      margin: 30px auto 0 auto;
      width: 555px;
      height: 72px;
      font-size: 24px;
      line-height: 34px;
    }
  }
  &__button-block {
    @include large-screen {
      display: flex;
      justify-content: space-between;
      margin: 34px auto 0 auto;
      height: 48px;
      width: 328px;
    }
    & .audience__button-get-started {
      margin-top: 30px;
      width: 290px;
      @include large-screen {
        margin-top: 0;
        width: 160px;
      }
    }
    & .audience__button-learn-more {
      margin-top: 12px;
      margin-bottom: 40p;
      width: 290px;
      height: 48px;
      font-size: 18px;
      font-weight: 700;
      background-color: #fff;
      @include large-screen {
        width: 158px;
        margin: 0;
      }
    }
  }
  & .audiense__galary {
    margin-top: 40px;
    @include large-screen {
      display: flex;
      justify-content: space-between;
      flex-direction: row;
      margin: 111px auto 0 auto;
      width: 1139px;
      height: 300px;
    }
    & .user-card {
      margin-bottom: 15px;
      background-color: #fff;
      box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
        inset 0px 1px 0px rgba(255, 255, 255, 0.1);
      border-radius: 8px;
      width: 290px;
      height: 300px;
      padding: 22px 0 33px 0;
      &:hover {
        background-color: #3141c5;
        color: white;
      }
      @include large-screen {
        width: 262px;
      }
    }
  }
}
