.footer {
  padding-top: 40px;
  padding-bottom: 23px;
  width: $mb-width;
  @include large-screen {
    padding: 0;
    width: $dsk-width;
    height: 389px;
  }
  & .footer-navigation {
    @include large-screen {
      display: flex;
      height: 338px;
    }
    & .about-company {
      height: 282px;
      border-bottom: 1px solid #e3e3e3;
      @include large-screen {
        margin-left: 129px;
        margin-top: 43px;
        width: 360px;
        border: none;
      }

      & .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include large-screen {
          flex-direction: row;
          width: 299px;
          height: 60px;
        }
        &__icon {
          display: block;
          background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-dark.png);
          width: 60px;
          height: 60px;
        }
        &__text {
          margin-top: 20px;
          margin-bottom: 30px;
          width: 290px;
          height: 51px;
          @include large-screen {
            flex-direction: row;
            margin: 0 0 0 15px;
            width: 222px;
            height: 51px;
          }
        }
        &__name {
          font-size: 20px;
          font-weight: 700;
          text-align: center;
          line-height: 25px;
          @include large-screen {
            text-align: start;
          }
        }
        &__discription {
          font-size: 18px;
          font-weight: 400;
          text-align: center;
          line-height: 25px;
        }
      }
      & .company_description {
        display: none;
        margin-top: 26px;
        height: 85px;
        width: 360px;
        font-size: 18px;
        line-height: 26px;
        color: $dark-color;
        opacity: 0.6;
        @include large-screen {
          display: block;
        }
      }

      & .downloads {
        display: flex;
        justify-content: space-between;
        margin: auto;
        width: 261px;
        height: 40px;
        @include large-screen {
          margin: 25px 0 0 0;
        }
        &__appstore {
          display: block;
          background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/app-store.png);
          width: 135px;
          height: 40px;
        }
        &__googleplay {
          display: block;
          background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/google-play.png);
          width: 116px;
          height: 40px;
        }
      }
    }
  }
}
.additional-navigation {
  @include large-screen {
    display: flex;
    margin-left: 126px;
    margin-top: 60px;
    width: 559px;
  }

  &__column {
    margin-top: 30px;
    margin-left: 15px;
    @include large-screen {
      margin: 0;
    }
  }
  &__title {
    margin-bottom: 18px;
    font-size: 22px;
  }
  &__list {
    margin: 0 0 30px 0;
    width: 290px;
    @include large-screen {
      margin: 0;
      width: 279px;
    }
    &-item {
      font-size: 18px;
      line-height: 35px;
      color: $dark-color;
      opacity: 0.6;
    }
  }
  &__link {
    color: $dark-color;
  }
}
.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 180px;
  height: 68px;
  padding-left: 15px;
  @include large-screen {
    flex-direction: row;
    align-items: center;
    width: $dsk-width;
    height: 50px;
    padding: 0;
    border-top: 1px solid #e3e3e3;
  }
  .terms {
    display: flex;
    justify-content: space-between;
    width: 180px;
    height: 22px;
    @include large-screen {
      margin-left: 130px;
    }

    & .terms__item {
      font-size: 14px;
      line-height: 22px;
      color: $dark-color;
      text-decoration: none;
      opacity: 60%;
    }
  }
  .social-links {
    display: flex;
    justify-content: space-between;
    width: 97px;
    @include large-screen {
      margin-right: 130px;
    }
    &__twitter-icon {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-twitter.png);
      width: 21px;
      height: 16px;
      display: block;
    }
    &__facebook-icon {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-fb.png);
      width: 18px;
      height: 16px;
      display: block;
    }
    &__linkedin-icon {
      background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/social-linkedIn.png);
      width: 18px;
      height: 16px;
      display: block;
    }
  }
}
