.footer {
  width: 320px;
  padding-top: 40px;
  padding-bottom: 23px;
  @include large-screen {
    padding: 0;
    width: 1400px;
    height: 389px;
  }
  & .footer-navigation {
    @include large-screen {
      display: flex;

      height: 339px;
    }
    & .about-company {
      height: 282px;
      border-bottom: 1px solid #e3e3e3;
      @include large-screen {
        width: 360px;
        border: none;
        margin-left: 129px;
        margin-top: 43px;
      }

      & .footer-logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        @include large-screen {
          width: 299px;
          height: 60px;
          flex-direction: row;
        }
      }
      & .footer-logo__img {
        width: 60px;
        height: 60px;
      }
      & .footer-logo__text {
        width: 290px;
        height: 51px;
        margin-top: 20px;
        margin-bottom: 30px;
        @include large-screen {
          width: 222px;
          height: 51px;
          flex-direction: row;
          margin: 0 0 0 15px;
        }
      }
      & .footer-logo__name {
        font-size: 20px;

        font-weight: 700;
        text-align: center;
        line-height: 25px;
        @include large-screen {
          text-align: start;
        }
      }
      & .footer-logo__discription {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        line-height: 25px;
      }
      & .company_description {
        display: none;
        height: 85px;
        width: 360px;
        font-size: 18px;
        line-height: 26px;
        color: #2b292d;
        opacity: 0.6;
        margin-top: 26px;
        @include large-screen {
          display: block;
        }
      }

      & .downloads {
        margin-top: auto;
        margin: auto;
        width: 261px;
        height: 40px;
        display: flex;
        justify-content: space-between;
        @include large-screen {
          margin: 25px 0 0 0;
        }
        &.downloads__appstore {
          width: 135px;
          height: 40px;
        }
        &.downloads__googleplay {
          width: 116px;
          height: 40px;
        }
      }
    }
    & .additional-navigation {
      @include large-screen {
        display: flex;
        margin-left: 126px;
        margin-top: 60px;
        width: 559px;
      }
      & .additional-navigation__block {
        margin-top: 30px;
        margin-left: 15px;
        @include large-screen {
          margin: 0;
        }

        & .nav-links__title {
          font-size: 22px;
          margin-bottom: 18px;
        }
        & .nav-links__list {
          margin: 0 0 30px 0;
          width: 290px;
          @include large-screen {
            margin: 0;
            width: 279px;
          }
          .nav-links__list-item {
            font-size: 18px;
            line-height: 30px;
            color: #2b292d;
            opacity: 0.6;
          }
        }
      }
    }
  }
  & .footer__links {
    width: 180px;
    height: 68px;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include large-screen {
      flex-direction: row;
      align-items: center;
      width: 1400px;
      height: 50px;
      padding: 0;
      border-top: 1px solid #e3e3e3;
    }

    & .social-links {
      display: flex;
      justify-content: space-between;
      width: 117px;
      @include large-screen {
        margin-right: 130px;
        width: 97px;
      }

      & .social-links_twitter {
        width: 21px;
        height: 16px;
      }
      & .social-links_facebook {
        width: 18px;
        height: 17px;
      }
      & .social-links_linkedin {
        width: 18px;
        height: 17px;
      }
    }
    .footer__terms {
      width: 180px;
      height: 22px;
      display: flex;
      justify-content: space-between;
      @include large-screen {
        margin-left: 130px;
      }

      & .terms__items {
        font-size: 14px;
        line-height: 22px;
        color: #2b292d;
        text-decoration: none;
      }
    }
  }
}
