.top-section {
  height: 890px;
  max-width: $mb-width;
  background-color: #f3c6bd;
  @include large-screen {
    position: relative;
    height: 710px;
    max-width: $dsk-width;
    padding-top: 38px;
  }
}
.headline {
  @include large-screen {
    width: 1249px;
    height: 456px;
    margin: 76px 25px 77px 126px;
  }
  &-wrap {
    padding: 35px 15px 0 15px;
    @include large-screen {
      padding: 0;
    }
  }
  &__title {
    position: relative;
    font-size: 50px;
    z-index: 3;
    line-height: 50px;
    @include large-screen {
      font-size: 80px;
      width: 754px;
      height: 165px;
      line-height: 78px;
    }
  }
  &__text {
    position: relative;
    z-index: 3;
    font-weight: 400px;
    line-height: 34px;
    margin-top: 24px;
    @include large-screen {
      margin-top: 34px;
      width: 456px;
      height: 102px;
      font-size: 24px;
    }
  }
  &__button-get-started {
    z-index: 3;
    margin-top: 30px;
    width: 290px;
    position: relative;
    @include large-screen {
      margin-top: 58px;
      width: 160px;
    }
  }
  &__button-learn-more {
    position: relative;
    z-index: 3;
    margin-top: 15px;
    width: 290px;
    height: 48px;
    background-color: $light-color;
    color: $blue-color;
    border-radius: 2px;
    font-weight: 700;
    font-size: 18px;
    line-height: 13px;
    @include large-screen {
      margin-top: 58px;
      width: 158px;
      display: inline-block;
    }
  }
  &__img {
    margin-top: 33px;
    width: $mb-width;
    @include large-screen {
      position: absolute;
      width: 796px;
      height: 448px;
      right: 25px;
      bottom: 77px;
      z-index: 2;
    }
  }
}
